<div class="col-md-6 col-md-offset-3 text-center">
  <main class="inner cover home-main-border">
    <h1 class="cover-heading">Blocitoff:</h1>
    <p class="lead">A self-destructing to-do list to keep you focused on the things that really matter.</p>
  </main>
</div>
